{% extends 'base.html' %}

{% block content %}

<section>

    <div>
        <h1 class="text-center"> Im Home page </h1>
    </div>


<hr><hr>

    <h1 class=" text-center"> Welcome </h1>
    <h1 class=" text-center">Infinity Exam Center </h1>

    {% if name %}
    <hr>
    <div class="text-center">
        <a href="/test"><button type="button" class="btn btn-success">Test</button></a>
    </div>
<hr><hr>
    {% else %}
    <hr>
    <div class="text-center">
        <a href="/login"><button type="button" class="btn btn-danger">Login</button></a>
    </div>
<hr><hr>
    {% endif %}



</section>
{% endblock %}
